<h1>Meus Carros</h1>

<p><%= link_to 'Adicionar Carro', new_car_path %></p>

<p><%= link_to 'Voltar', root_path %></p>


<% if @cars.any? %>
  <table>
      <tr>
        <strong><th>Carro</th></strong>
        <strong><th>Versão</th></strong>
      </tr>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.name %></td>
        <td><%= car.version %></td>
      </tr>
    <% end %>
  </table>
  <% else %>
  <h2>Você ainda não adicionou nenhum carro!</h2>
<% end %>
