<h1>Meus Carros</h1>

<p><%= link_to 'Adicionar Carro', new_car_path %></p>

<p><%= link_to 'Home', root_path %></p>


<div class="panel-heading">
  <div class="panel-body">
    <% if @cars.any? %>
      <table class="table table-default">
          <tr>
            <strong><th>Carro</th></strong>
            <strong><th>Versão</th></strong>
          </tr>
        <% @cars.each do |car| %>
          <tr>
            <td><%= link_to car.name, car %></td>
            <td><%= car.version %></td>
          </tr>
        <% end %>
      </table>
      <% else %>
      <h3>Você ainda não adicionou nenhum carro!</h3>
    <% end %>
  </div>
</div>
