<h1>Meus Carros</h1>

<p><%= link_to 'Adicionar Carro', new_car_path %></p>

<p><%= link_to 'Voltar', root_path %></p>

<% @cars.each do |car| %>
  <table>
    <tr>
      <strong><th>Carro</th></strong>
      <strong><th>Versão</th></strong>
    </tr>
    <tr>
      <td><%= car.name %></td>
      <td><%= car.version %></td>
    </tr>
  </table>
<% end %>
